[run]
branch = True
source = 
    ihike_backend
    hiking
omit =
    */migrations/*
    */tests/*
    manage.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.
show_missing = True
skip_covered = True

