.git
.gitignore
__pycache__
*.py[cod]
*.pyo
*.pyd
.mypy_cache
.pytest_cache
.ruff_cache
.venv
venv
node_modules
.vscode
.idea
*.log
*.sqlite3
__bundle_test
__bundle_test_slim
*.zip
frontend
docs
scripts

# Elastic Beanstalk control files shouldn't be sent in build context
.elasticbeanstalk/
.ebextensions/
.platform/


