option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ihike_backend.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ihike_backend.settings
    DEBUG: 'False'
    ALLOWED_HOSTS: ihike-api-dev.eba-dpt4em9m.us-east-1.elasticbeanstalk.com,localhost,127.0.0.1
    DATABASE_URL: postgresql://postgres:TEAM_4_swe_450@aws-1-us-east-2.pooler.supabase.com:5432/postgres?sslmode=require
    DB_SSLMODE: require
    CORS_ALLOWED_ORIGINS: http://localhost:5173
    GDAL_LIBRARY_PATH: /lib64/libgdal.so.36
    GEOS_LIBRARY_PATH: /lib64/libgeos_c.so.1
    GDAL_BIN_DIR: ''
    OSGEO4W_ROOT: ''

